:root {
	--text-clr: hsl(215, 51%, 70%);
	--accent-clr: hsl(178, 100%, 50%);

	--main-bg-clr: hsl(217, 54%, 11%);
	--card-bg-clr: hsl(216, 50%, 16%);
	--line-clr: hsl(215, 32%, 27%);
	--white-clr: hsl(0, 0%, 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	width: 100vw;
	background-color: var(--main-bg-clr);
	font-family: 'Outfit', sans-serif;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	max-width: 350px;
	background-color: var(--card-bg-clr);
	padding: 1.5rem;
	border-radius: 1rem;
	display: grid;
	gap: 1rem;
	-webkit-box-shadow: 0px 11px 23px 20px rgba(0,0,0,0.08);
	-moz-box-shadow: 0px 11px 23px 20px rgba(0,0,0,0.08);
	box-shadow: 0px 11px 23px 20px rgba(0,0,0,0.08);
}

img, picture {
	display: block;
	max-width: 100%;
	border-radius: 0.6rem;
}

picture {
	position: relative;
}

.view {
	width: 100%;
	height: 100%;
	background-color: hsl(178, 100%, 50%, 0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.6rem;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

h1{
	margin-top: 0.5rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--white-clr);
}

p {
	color: var(--text-clr);
	font-weight: 300;
	line-height: 1.5;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--line-clr);
	padding-bottom: 1rem;
}

.time, .price {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.price span {
	color: var(--accent-clr);
	font-weight: 400;
}

.time span {
	color: var(--text-clr);
	font-weight: 300;
}

.footer{
	display: flex;
	gap: 1rem;
}

.footer img {
	border: 1px solid var(--white-clr);
	border-radius: 50%;
	height: 35px;
	width: 35px;
}

.author {
	color: var(--white-clr);
}

/* hover states */

.view:hover{
	opacity: 1;
	cursor: pointer;
}

h1:hover, .author:hover {
	color: var(--accent-clr);
	cursor: pointer;
}

.attribution{
	position: absolute;
	bottom: 0;
	left: 0;
	color: var(--text-clr);
	font-size: 0.8rem;
}